/* ===================== MAIN (All pages) ========================= */
html, body { height: 100%; }

body {
    font-family: 'Comfortaa', 'New York', serif;
    font-size: 18px;
    background: url("../img/style/Star-Wars-star-wars-24718031-1920-1200.jpg") no-repeat fixed center top / 100% auto #000000;
    color: #000000;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Comfortaa', 'New York', serif;
    font-weight: bold;
    line-height: 1.1;
}

div#wrap { min-height: 100%; }

div.row {
    margin-left: 0;
    margin-right: 0;
}

div.content { margin-bottom: 1%; }

/* ===================== HEADER ========================= */
div.modal-header {
    background-color: #fff;
    background-image: url('../img/style/logo1.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50px;
}

div.bar {
    border-radius: 0;
}

/* ===================== INDEX/INDEX (Articles)========================= */
div.content_center {
    background-color: #FFFFFF;
    border: 2px solid #888888;
    border-radius: 2px;
    padding: 0;
}

ul.list-unstyled li { margin: 5px 5px 0 5px; }

    div.block {
        background-color: #F2F2F2;
        border: 2px solid #DCDCDC;
        color: #6E6E6E;
        float: left;
        margin-bottom: 8px;
        padding: 10px;
    }

        div.block:hover {
            background-color: #F8F8F8;
            color: #000;
        }

    a.article_link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

        div.left_part { padding: 0; }

            div.pic_wrap { text-align: center; }

            img.img_pic {
                background-color: #FFFFFF;
                border: 1px solid #000000;
                display: inline-block;
                margin: 0;
                width: 140px;
                padding: 0;
                text-align: center;
                transition: all 0.2s ease-in-out 0s;
            }

            @media (min-width: 768px) {
                img.img_pic { width: 100%; }
            }

            div.time {
                background-color: #D54937;
                border: 1px solid #B0281A;
                color: #FEFFE1;
                font-size: 12px;
                font-style: italic;
                line-height: 30px;
                text-align: center;
                margin: 5px 0 0;
            }

        div.right_part { padding-left: 10px; }

            div.right_part h2 {
                border-bottom: 1px dotted #000000;
                padding-bottom: 5px;
            }

            div.article_block {
                background-color: #FFFFFF;
                border: 1px solid #0088CC;
                color: #000000;
                float: left;
                margin: -5px;
                padding: 10px;
            }

            div.cor_text img {
                border: 1px solid #000;
                width: 100%;
            }

            cite { font-style: italic; }

            a { color: #0088CC; }

div.pagination {
    background-color: #000000;
    border: 2px solid #DCDCDC;
    border-radius: 0;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

    div.pagination_foot a {
        color: #C6C6C6;
    }

    div.pagination_foot a:hover {
        color: #fff;
    }

/* ====================== MOVIE/INDEX (Movies) =============== */
div.movie_wrap {
    background-color: #222222;
    border: 2px solid #888888;
    float: left;
}

    div.episode_wrap { padding: 0; }

        div.episode_poster {
            background-repeat: no-repeat;
            border: 1px solid #DCDCDC;
            border-radius: 2px;
            margin: 15px auto;
            width: 85%;
        }

            div.episode_poster:hover {
                border: 1px solid #FFFFFF;
                box-shadow: 0 0 15px #87CEEB;
            }

            div.episode_poster img { width: 100%; }

/* ====================== GAMES/INDEX (Games) =============== */
div.game_wrap {
    background-color: #000000;
    border: 2px solid #87CEEB;
    float: left;
}

    div.game_block { padding: 0; height: auto}

        div.game_poster {
            background-repeat: no-repeat;
            border: 1px solid #888888;
            border-radius: 1px;
            margin: 15px auto;
            width: 85%;
            background-color: #D14836;
        }

            div.game_poster:hover {
                background-color: #C00000;
                border: 1px solid #FFFFFF;
                box-shadow: 0 0 10px #FFFFFF;
            }

            div.game_poster a {
                color: #fff;
            }

                div.cover_wrap img {
                    width: 100%;
                }

                @media (min-width: 500px) {
                    div.cover_wrap { background-color: #000; }

                    div.cover_wrap img {
                        margin: 0 30%;
                        width: 40%;

                    }
                }

                @media (min-width: 768px) {
                    div.cover_wrap img {
                        height: 75%;
                        width: 100%;
                        margin: 0 auto;
                    }
                }

                @media (min-width: 992px) {
                    div.cover_wrap img {
                        height: 45%;
                        width: 100%;
                        margin: 0 auto;
                    }
                }

                @media (min-width: 1200px) {
                    div.cover_wrap img {
                        height: 40%;
                        width: 100%;

                    }
                }

            div.game_title {
                font-size: 12px;
                padding: 8px 0;
                text-align: center;
                width: 100%;
            }

/* ====================== FOOTER =============== */
div#footer {
    background-color: #F5F5F5;
    line-height: 60px;
    text-align: center;
}

    div.counter {
        float: right;
        margin: 10px 10px 0 0;
    }