@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: local('Comfortaa'), local('Comfortaa-Regular'), url(http://themes.googleusercontent.com/static/fonts/comfortaa/v4/qLBu5CQmSMt1H43OiWJ77T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/* ===================== MAIN (All pages) ========================= */
html, body { height: 100%; }



body {
    font-family: 'Comfortaa', 'New York', serif;
    font-size: 18px;
    background: url("../img/style/Star-Wars-star-wars-24718031-1920-1200.jpg") no-repeat fixed center top / 100% auto #000000;
    color: #000000;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Comfortaa', 'New York', serif;
    font-weight: bold;
    line-height: 1.1;
}

div#wrap { min-height: 100%; }

div.row {
    margin-left: 0;
    margin-right: 0;
}

div.content { margin-bottom: 1%; }

/* ===================== HEADER ========================= */
div.modal-header {
    background-color: #fff;
    min-height: 60px;
    padding: 0;
}

div.logo {
    padding: 10px;
    text-align: center;
}


@media (max-width: 768px) {
    div.logo > a > img{
        padding: 10px;
        width: 100%;
    }
}

div.bar { border-radius: 0; }

/* ===================== INDEX/INDEX (Articles)========================= */
div.content_center {
    background-color: #FFFFFF;
    border: 2px solid #888888;
    border-radius: 2px;
    padding: 0;
}

ul.list-unstyled li { margin: 5px 5px 0 5px; }

    div.block {
        background-color: #F2F2F2;
        border: 2px solid #DCDCDC;
        color: #6E6E6E;
        float: left;
        margin-bottom: 8px;
        padding: 10px;
    }

        div.block:hover {
            background-color: #F8F8F8;
            color: #000;
        }

    a.block_link {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

        div.left_part { padding: 0; }

            div.pic_wrap { text-align: center; }

            img.img_pic {
                background-color: #FFFFFF;
                border: 1px solid #000000;
                display: inline-block;
                margin: 0;
                width: 140px;
                padding: 0;
                text-align: center;
                transition: all 0.2s ease-in-out 0s;
            }

            @media (min-width: 768px) {
                img.img_pic { width: 100%; }
            }

            div.time {
                background-color: #D54937;
                border: 1px solid #B0281A;
                color: #FEFFE1;
                font-size: 12px;
                font-style: italic;
                line-height: 30px;
                text-align: center;
                margin: 5px 0 0;
            }

        div.right_part { padding-left: 10px; }

            div.right_part h2 {
                border-bottom: 1px dotted #000000;
                padding-bottom: 5px;
            }

            div.article_block {
                background-color: #FFFFFF;
                border: 1px solid #0088CC;
                color: #000000;
                display: table;
                margin: -5px;
                padding: 10px;
            }

            div.cor_text img {
                border: 1px solid #000;
                width: 100%;
            }

            cite, blockquote, q { font-style: italic; }
            a { color: #0088CC; }

div.pagination {
    background-color: #000000;
    border: 2px solid #DCDCDC;
    border-radius: 0;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
}

    div.pagination_foot a { color: #C6C6C6; }
    div.pagination_foot a:hover { color: #fff; }

/* ====================== MOVIE/INDEX (Movies) =============== */
div.movie_wrap {
    background-color: #222222;
    border: 2px solid #888888;
    max-width: 100%;
    padding: 0;
}

    div.episode_wrap > div{ padding: 5% 0; }

        div.episode_poster {
            border: 1px solid #DCDCDC;
            border-radius: 2px 2px 2px 2px;
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }

            div.episode_poster:hover {
                border: 1px solid #FFFFFF;
                box-shadow: 0 0 15px #87CEEB;
            }

            div.episode_poster img { width: 100%; }

            @media (min-width: 768px) {
                div.episode_poster { width: 100% }
                div.episode_poster img { width: 100%; }
            }

/* ====================== GAMES/INDEX (Games) =============== */
div.game_wrap {
    background-color: #000000;
    border: 2px solid #87CEEB;
    max-width: 100%;
    padding: 0;
}

    div.game_block > div {
        margin: 5% auto;
        border: 1px solid #888888;
        padding: 0;
        background-color: #D14836;
        border-radius: 1px;
    }

    div.game_block > div:hover {
        border: 1px solid #FFFFFF;
        box-shadow: 0 0 10px #FFFFFF;
        background-color: #C00000;
        color: #fff;
    }

    div.game_poster {
        margin: 0 auto;
        background-color: #000;
        text-align: center;
    }

        div.game_poster img{
            border-radius: 1px;
            margin: 0 auto;
            background-color: #000;
            text-align: center;
            width: 50%;
        }

        @media (min-width: 768px) {
            div.game_poster img{
                width: 100%;
            }
        }

    div.game_title {
        font-size: 13px;
        text-align: center;
        padding: 8px 0;

    }

        div.game_title > a { color: #fff; }

/* ====================== FOOTER =============== */
div#footer {
    background-color: #F5F5F5;
    float: left;
    line-height: 60px;
    text-align: center;
    width: 100%;
}

    div.counter {
        float: right;
        margin: 10px 10px 0 0;
    }

/* ====================== ADMIN ========================= */
/* ====================== ADMIN - INDEX ========================= */
div.delete_cross { float: right }

    div.delete_cross input{
        height: 25px;
        opacity: 0.3;
        position: relative;
        width: 25px;
        z-index: 2;
    }

        div.delete_cross input:hover { opacity: 1; }

/* ====================== ADMIN - EDIT ========================= */
div.markItUpHeader > ul > li { margin-bottom: 15px; }
input.edit_but { width: 100% }
textarea.titleAdd { width: 100%; height: 140px }
textarea.shortDescAdd { width: 100%; height: 200px }
textarea.fullAdd { width: 100%; height: 400px }
textarea.actorsAdd { width: 100%;}
textarea.funnyAdd  { width: 100%;}
textarea.ostListAdd  { width: 100%;}
.row > h4 { border-bottom: 1px dotted #000000 }

/* ====================== MENU ========================= */
a#menu-dropdown {
    background-color: inherit;
    border: medium none;
    box-shadow: none;
    font-size: inherit;
    min-width: 0;
}

    li.open {
        background-color: #E7E7E7;
    }

/* ====================== COMMENTS ========================= */
div.comments_block {
    border: 1px solid #000000;
    display: table;
    margin: 20px auto;
}